@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background:
    radial-gradient(
      circle at 30% 20%,
      rgba(255, 255, 255, 0.035),
      transparent 55%
    ),
    linear-gradient(
      to bottom,
      #410928 100%
    );

  background-attachment: fixed;
}

body {
  background: transparent;
  font-family: var(--font-sans);
}
